language: node_js
sudo: required
before_script:
  - sudo mv /usr/bin/google-chrome /usr/bin/google-chrome-old
  - sudo mv /usr/bin/google-chrome-beta /usr/bin/google-chrome
node_js: stable
addons:
  firefox: latest
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-beta
script:
  - npm install
  - ls
  - cd iso-model
  - bower install
  - cd ..
  - mocha test
  - cd iso-model
  - xvfb-run polymer test -l chrome

dist: trusty
