language: node_js
sudo: required
before_script:
  - sudo mv /usr/bin/google-chrome /usr/bin/google-chrome-old
  - sudo mv /usr/bin/google-chrome-beta /usr/bin/google-chrome
node_js: stable
addons:
  firefox: latest
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-beta
script:
  - npm install
  - (cd iso-model && bower install --key)
  - mocha test
  - xvfb-run wct --root iso-model/ -l chrome

dist: trusty
